.mer-e{
    width: 33% !important;
    margin-right: 5% !important;
}
.w-wrap{
    word-break: break-all;
}
.w-15{
    width: 15% !important;
}
.w-85{
    width: 85% !important;
}
.mw-30{
    max-width: 30%;
}
.mer-w20{
    width: 20% !important;
    max-width: 20% !important;
}
.mer-w22{
    width: 22% !important;
    max-width: 22% !important;
}
.mer-mw{
    max-width: 1060px !important;
}
@media (max-width: 1100px){
    .mer-mw{
        max-width: 900px !important;
    }
}
@media (max-width: 1020px){
    .mer-mw{
        max-width: 800px !important;
    }
}
@media (max-width: 930px){
    .mer-mw{
        max-width: 700px !important;
    }
}
@media (max-width: 850px){
    .mer-mw{
        max-width: 600px !important;
    }
}
@media (max-width: 780px){
    .mer-mw{
        max-width: 580px !important;
    }
}
.mer-pl-5{
    padding-left: 5% !important;
}
.bg-curent-menu{
    background-color: #8a4f9f !important;
}
.student-number-mer{
    width: 0% !important;
    padding-right: 35px;
    position: relative;
    left: 5px;
}
.groups-edit__student-mer{
    width: 100%;
    word-break: break-all;
}
.delete-student-mer{
    width: 0% !important;
    padding-left: 15px;
    position: relative;
    right: 11px;
}
.bgc-mer{
    background-color: #f2e9f5;
    border: none;
	border-radius: 9px;
}
.ccec__string-inner-mer{
	text-align: left;
	font-family: SegoeUI, sans-serif;
    font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}
.ccec__string-inner-mer{
	font-family: SegoeUI, sans-serif;
    font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}
.mer-pl15-pr30{
    padding-left: 15px !important;
    padding-right: 30px !important;
}
@media (min-width: 767px){
    .mer-studlist-m{
        display: none;
    }
    .mer-studlist{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .mer-sel-wth{
        padding-left: 15px;
        padding-right: 12px;
        max-width: 100% !important;
    }
}
@media (max-width:768px){
    .mer-studlist-m{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .mer-studlist{
        display: none;
    }
    .mer-sel-wth{
        padding-left: 0px;
        padding-right: 0px;
        max-width: 297px !important;
    }

}
